<!DOCTYPE HTML>
 <html>
<head>
  <title>Spring Boot - Angularjs Example</title>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
</head>
<body>

	<!--CADASTRO NO SITE-->
	<h2>Faça seu cadastro! </h2>
	 <div layout="column" ng-cloak>
	  <md-content layout-padding>
	    <form name="projectForm">
	      <div layout="row">
	        <md-input-container flex="50">
	          <label>Username</label>
	          <input required name="clientName" ng-model="usernameCadastro">
	          <div ng-messages="projectForm.clientName.$error">
	            <div ng-message="required">Campo Obrigatório!.</div>
	          </div>
	        </md-input-container>
	        <md-input-container flex="50">
	          <label>Senha</label>
	          <input  required name="senha" ng-model="senhaCadastro" type="password">
	          <div ng-messages="projectForm.clientSenha.$error">
	            <div ng-message="required">Campo Obrigatório!</div>
	          </div>
	        </md-input-container>
	      </div>

	      <md-input-container class="md-block">
	        <label>Client Email</label>
	        <input required type="email" name="clientEmail" ng-model="email"
	               minlength="10" maxlength="100" ng-pattern="/^.+@.+\..+$/" />

	        <div ng-messages="projectForm.clientEmail.$error" role="alert">
	          <div ng-message-exp="['required', 'minlength', 'maxlength', 'pattern']">
	            Email inválido!
	          </div>
	        </div>
	      </md-input-container>
	        {{postResultMessage}}
	     
	     <button type="submit" id="botaoCadastra" class="btn btn-primary" ng-click="submitForm(usernameCadastro, senhaCadastro)">Cadastrar!</button>
	  	</form>
	  </md-content>
	</div>


	<!--LOGIN NO SITE-->
	<h2>Já possui uma conta? </h2>
	<div layout="column" ng-cloak>
	  <md-content layout-padding>
	    <form name="projectForm" style="margin-left: 300px;">
	        <md-input-container flex="50">
	          <label>Username</label>
	          <input id="form-login"  required name="clientName" ng-model="username">
	          <div ng-messages="projectForm.clientName.$error">
	            <div ng-message="required">Campo Obrigatório!.</div>
	          </div>
	        </md-input-container>

	        <md-input-container flex="50">
	          <label>Senha</label>
	          <input  id="form-login" required name="senha" ng-model="senha" type="password">
	          <div ng-messages="projectForm.clientSenha.$error">
	            <div ng-message="required">Campo Obrigatório!.</div>
	          </div>
	          {{result}}
	        </md-input-container>
	        <button type="submit" class="btn btn-primary"  ng-click="logar(username,senha)">Login</button>
	    </form>
	  </md-content>
	</div>
</body>
</html>